<% provide(:title, "ユーザー編集") %>
   <div class = "margin-top3"> 
      <h1 class = "brown4">ユーザー編集</h1>
        <div class="row">
          <div class="col-md-6 col-md-offset-3">  
            <div class = "sucoshi">
                <%= render partial: 'layouts/form_user', locals: { article: @user } %>
        </div>
    </div>
</div>