<% provide(:title, '新規登録') %>
  <div class="margin-top3">
     <h1 class ="brown">新規登録</h1>
       <div class="row">
          <div class="col-md-6 col-md-offset-3">
              <%= render partial: 'layouts/form_user', locals: { article: @user } %>
           </div>
        </div>
      </div>
   </div>
</div>   