<% provide(:title, '写真変更') %>
    <div class="margin-top3">
        <h1 class ="brown">写真変更</h1>
            <div class="row">
                <%= form_with(model: @user, local: true) do |f| %>
                    <div class = "shita">
                        <%= f.label :画像, class:'label2' ,style: 'display: inline-block;width: auto;' %> 
                        <%= f.file_field :picture, class: 'form-control' %>    
                    </div>
                    <div class = "sukima7">
                        <%= f.submit "登録", class: "btn btn-success", style: 'background-color: rgba(91, 33, 0, 0.97);border-color: rgba(91, 33, 0, 0.97);'%> 
                    </div>
                <% end %>
            </div>
        </div>
    </div>