<div class = "bottom">
    <h1 class = "brown_en">SHIORI</h1>
     <div class =  "space">
        <p>このアプリはしおりの代わりになるアプリです。
        これまで、僕はあんまり本を最後まで読み切ることがなかってです。
        そのためにどこまで見たかすぐに確認できるようにしています。
        </p>
        <p>
        このアプリは、本の栞として使ってください。
        本の日記と共に本を楽しみつつ記憶定着と、読んだ本を思い出すために、
        使ってください。
        このアプリは、本の栞として使ってください。
        本の日記と共に本を楽しみつつ記憶定着と、読んだ本を思い出すために、
        使ってください。 このアプリは、本の栞として使ってください。
        本の日記と共に本を楽しみつつ記憶定着と、読んだ本を思い出すために、
        使ってください。 このアプリは、本の栞として使ってください。
        本の日記と共に本を楽しみつつ記憶定着と、読んだ本を思い出すために、
        使ってください。
        </p>
        <p>
        このアプリは、本の栞として使ってください。
        本の日記と共に本を楽しみつつ記憶定着と、読んだ本を思い出すために、
        使ってください。
        このアプリは、本の栞として使ってください。
        本の日記と共に本を楽しみつつ記憶定着と、読んだ本を思い出すために、
        使ってください。 このアプリは、本の栞として使ってください。
        本の日記と共に本を楽しみつつ記憶定着と、読んだ本を思い出すために、
        使ってください。 このアプリは、本の栞として使ってください。
        本の日記と共に本を楽しみつつ記憶定着と、読んだ本を思い出すために、
        使ってください。
        </p>
    </div>
</div>