@import "bootstrap-sprockets";
@import url('https://fonts.googleapis.com/css?family=Kosugi');
@import "bootstrap";

// template


//books

.label{
    margin-left: -5px;
    font-size: 14px;
    display: inline-block;
    width: auto; 
    color: rgb(102, 67, 47)
}

.label_green{
  margin-left: -5px;
  display: inline-block;
  width: auto; 
  color: #429442;
}

.label_red{
  margin-left: -5px;
  display: inline-block;
  width: auto; 
  color: rgb(255, 89, 89);
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.turn{
  width: 50px;  
  height: auto;  
  transition: 0.09s;  
  position: fixed;
  bottom:  50px;
  left: 35px;
  filter: drop-shadow(2px 2px 2px rgb(170, 170, 170));
}

.turn:active {
  width: 49px;  
  height: auto; 
  opacity: 0.5;
  position: fixed;
  bottom:  49px;
  left: 34px;
  filter: drop-shadow(0 0 0);
}

.plus {
    width: 80px;  
    height: auto;  
    opacity: 1.0;
    position: fixed;
    bottom: 58px;
    right: 30px;
    transition: 0.1s;  
    filter: drop-shadow(2px 2px 2px rgb(138, 138, 138));
}

.plus:active {
    width: 79px;  
    height: auto;  
    opacity: 0.5;
    filter: drop-shadow(0 0 0);
    position: fixed;
    bottom: 57px;
    right: 29px;
}

header a {
  color: #fff;
}

.red{
  color: red;
}

.sukima {
  margin-top: 30px;
}

.sucoshi{
  margin-top: 10px;
}

.shita{
  margin-bottom: 30px;
}

.brown{
  color: rgb(91, 33, 0);
  font-family: 'Kosugi', sans-serif;
}

.brown_en {
  color:rgb(91, 33, 0);
}

.shupan {
  margin-top: 27px;
  margin-bottom: 8px;
}

.shiori{
  color: #0B3B0B;
}

.btn-center{
text-align: center;
}

.space {
  margin: 0 30px 0 30px;
}

.book-index-item{
  margin: 20px 30px;
  padding-top: 15px;
}

.green {
  color: green;
  font-size: 15px;
}

.link {
  font-size: 15px;
  background-color: green;
  text-decoration: none;
}

.top {
  font-size: 15px;
}

.moji {
font-size: 15px;
margin-top: 15px;
}

.phot {
  color: #0B3B0B;
  margin: 30px 30px;
}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
    margin: 0px;
    padding-top: 60px;
    padding-bottom: 50px;
    width: 100%;
    height: 100%;
    overflow-y: scroll; //y = 縦のスクロール
    overflow-x: hidden; //x = 横のスクロールはダメですよ。
  }

  main {
    margin-top: 30px;
  }
 
  section {
    overflow: auto;
  }
  
  textarea {
    resize: vertical;
  }
  
  .center {
    text-align: center;
  }
  
  .center h1 {
    margin-bottom: 10px;
  }

  /*メインコンテンツ*/
#contents {
  padding-bottom: 30px; /*フッターの高さと同じ*/  
}

  /* typography */

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
  }
  
  h1 {
    font-size: 3em;
    letter-spacing: 10px;
    margin-bottom: 30px;
    text-align: center;
  }
  
  h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #777;
  }
  
  p {
    text-align: center;
    letter-spacing: 3px;
    font-size:  12px;
    line-height: 1.8em;
  }

  /* header */

#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 10px;
    padding-top: 10px;
    font-weight: bold;
  }
  
  #logo:hover {
    color: rgba(230, 107, 36, 0.973); //logのバックグランドカラーを変える。
    background-color: #0B3B0B;
    text-decoration: none;
  }

  .navbar-nav{
  color: #fff;
}

/* footer */

#footerWrap{
  width:100%;
  position: absolute;/*←相対位置*/
  padding-bottom: 30px;/*←footerの高さ*/
  box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

footer {
    width: 100%; /* フッター幅を指定*/
    height: 30px; 
    margin: 0 auto;
    background-color: #0B3B0B;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    position: fixed;/*←絶対位置*/
    right: 0px;
    bottom: 0; /*下に固定*/
}

footer a {
  color: #fff;
  background-color: #0B3B0B;
}

footer a:hover {
  color: #0B3B0B;
  background-color: rgb(255, 255, 255);
  padding: 5px 0;
  text-decoration: none;
}

footer ul {
  float: right;
  margin-right: 20px;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

a {
  color: rgb(255, 255, 255); 
}

a:visited {
  color: #cecccc
}

a:hover {
  color: #0B3B0B;
  background-color: rgb(255, 255, 255); 
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 35px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid  #0B3B0B;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

label {
  display: block; 
}

.com {
margin-top: 25px; //ボタンをtop25px分離れさせた。
}

input {
  height: auto !important;
}

#error_explanation h2 { //エラーメッセージの設定
  text-align: center; //真ん中に
  font-weight: bold; //太く
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: rgb(255, 255, 255);
  color: #fff; 
}

#error_explanation ul li {
  font-size: 12px;
  list-style: circle;
 }

#error_explanation {
  color:  #a10000; 
  margin: 20px 0 20px 0;
  position: relative; //エラーメッセージの位置
  ul {
    color:  #a10000; //エラー表の中の色。
    margin: 0 0 20px 0; //エラーメッセージの上だけ空白を空けるため。
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}